page-login {

  .wrapperLogo {
    text-align: center;
    width: 100%;
    margin-top: 20%;
  }
  .logo {
    width: 100%;
  }

  .text-input {
    border-bottom: 1px solid #b7b5b5;
    padding-bottom: 6px;
  }
  .list-md .item-input:last-child {
    border-bottom: 0px solid #dedede;
  }

  .signUp {
    position: absolute;
    top: 0;
    right: 21px;
    font-size: 1.4em;
    color: #00ffa5;
  }
}

