
.popover-content {
  top: 122px !important;
  left: 40.5px !important;
  transform-origin: left top 0px;
  border-radius: 1% !important;
  width: 77.5% !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.list{
  margin:0;
}