<ion-header>
    <ion-navbar>
        <button menuToggle ion-button>
            <ion-icon name="menu" ></ion-icon>
        </button>
        <ion-title>Время проведения</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item>
        <ion-label> Задать дату и время</ion-label>
        <ion-datetime displayFormat="MM-DD-YYYY h:mm "  name="date_start" [(ngModel)]="date_start" ></ion-datetime>
       </ion-item>
    <ion-item>Повторяемость события
        <ion-icon name="ios-arrow-down" (click)="repetitionEvent()" *ngIf="!viewRepetitionEvent"></ion-icon>
        <ion-icon (click)="repetitionEvent()" *ngIf="viewRepetitionEvent" name="ios-arrow-up"></ion-icon>
    </ion-item>
    <ion-item *ngIf="viewRepetitionEvent">
        <ion-label>Повторяется</ion-label>
        <ion-select name="eventRepeat" #eventRepeat value="eventRepeat" [(ngModel)]="repetition">
            <ion-option value="Каждую неделю">Каждую неделю</ion-option>
            <ion-option value="Каждую вторую неделю">Каждую вторую неделю</ion-option>
            <ion-option value="Каждую третью неделю">Каждую третью неделю</ion-option>
            <ion-option value="Каждую четвертую неделю">Каждую четвертую неделю</ion-option>
            <ion-option value="Ежемесячно">Ежемесячно</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="viewRepetitionEvent" (click)="repetitionDays()">Дни повторения</ion-item>
    <ion-item *ngIf="viewRepetitionEvent">
        <ion-label>Окончание</ion-label>
        <ion-datetime displayFormat="MM-DD-YYYY h:mm "  name="date_end" [(ngModel)]="date_end"></ion-datetime>
        </ion-item>
    <button ion-button block class="createBtn" (click)="saveDate()">Сохранить</button>
</ion-list>
</ion-content>