page-modal-time-event {

}
.alert-checkbox-group .alert-tappable {
  min-height: 33px!important;
}
.alert-checkbox-group .alert-checkbox-icon{
  margin: 4px 6px 4px 16px;
}
.alert-checkbox-group .alert-checkbox-label{
  padding:5px;
}