
page-second-team {
  .segment-md .segment-button {
    font-weight: 900;
    color: #000;
  }
  .toolbar-content-md {
    max-width: 33%;
    color:#fff;
  }
.groupName{
  padding-left: 15px;
  position: relative;
  bottom: 12px;
}

}
.imgGroups{
  width: 40px;
  height: 40px;
  border-radius: 386px;
}